@import "coat-theme.css";

* {
    border: none;
    border-radius: 0;
    /* font-family: "JetBrainsMono Nerd Font", monospace; */
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: @base07;
    transition-property: background-color;
    transition-duration: .5s;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: transparent;
    padding: 0;
    margin: 0 5px;
}

#tags,
#workspaces {
    background-color: @base01;
    border-radius: 8px;
    padding: 0 8px;
    margin: 0 4px;
}

#workspaces button,
#tags button {
    padding: 0 5px;
    color: @base04;
    background-color: transparent;
}

#workspaces button.active,
#tags button.active {
    color: @base0D;
}

#workspaces button.urgent,
#tags button.urgent {
    color: @base08;
}

#workspaces button:hover,
#tags button:hover {
    color: @base0D;
}

#window {
    margin-left: 10px;
    color: @base07;
}

#clock,
#custom-weather,
#network,
#bluetooth,
#cpu,
#custom-gpu,
#temperature,
#memory,
#disk,
#battery,
#wireplumber,
#tray,
#cava,
#custom-mpris,
#custom-updates {
    padding: 4px 12px;
    margin: 0 4px;
    background-color: @base01;
    border-radius: 8px;
}

#clock {
    color: @base07;
    font-weight: bold;
}

#custom-weather {
    color: @base07;
}

#network {
    color: @base07;
}

#network.disconnected {
    color: @base08;
}

#bluetooth {
    color: @base07;
}

#bluetooth.off {
    color: @base03;
}

#cpu {
    color: @base07;
}

#temperature {
    color: @base07;
}

#temperature.critical {
    color: @base08;
    font-weight: bold;
}

#memory {
    color: @base07;
}

#disk {
    color: @base07;
}

#battery {
    color: @base07;
}

#battery.charging {
    color: @base07;
}

#battery.warning:not(.charging) {
    color: @base0A;
}

#battery.critical:not(.charging) {
    color: @base08;
    animation: blink 0.5s linear infinite alternate;
}

@keyframes blink {
    to {
        background-color: @base08;
        color: @base00;
    }
}

#wireplumber {
    color: @base07;
}

#wireplumber.muted {
    color: @base08;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @base08;
}

tooltip {
    background: @base00;
    border: 1px solid @base03;
    border-radius: 8px;
}

tooltip label {
    color: @base07;
}

#cava {
    color: @base07;
}

#cava.silent {
    opacity: 0.5;
}

#custom-mpris {
    color: @base07;
}

#custom-gpu {
    color: @base07;
}

#custom-updates {
    color: @base07;
}
